.alert-primary {
  background: #b7caac; }

.btn-primary {
  background: #b7caac; }

.text-primary {
  color: #b7caac; }

.bg-primary {
  background: #b7caac !important; }

.alert-success {
  background: #3db386; }

.btn-success {
  background: #3db386; }

.text-success {
  color: #3db386; }

.bg-success {
  background: #3db386 !important; }

.alert-danger {
  background: #ff4f70; }

.btn-danger {
  background: #ff4f70; }

.text-danger {
  color: #ff4f70; }

.bg-danger {
  background: #ff4f70 !important; }

.alert-warning {
  background: #ff835e; }

.btn-warning {
  background: #ff835e; }

.text-warning {
  color: #ff835e; }

.bg-warning {
  background: #ff835e !important; }

.alert-info {
  background: #7cc6ff; }

.btn-info {
  background: #7cc6ff; }

.text-info {
  color: #7cc6ff; }

.bg-info {
  background: #7cc6ff !important; }

.alert-red {
  background: #ff3963; }

.btn-red {
  background: #ff3963; }

.text-red {
  color: #ff3963; }

.bg-red {
  background: #ff3963 !important; }

.alert-light {
  background: #f3f6f9; }

.btn-light {
  background: #f3f6f9; }

.text-light {
  color: #f3f6f9; }

.bg-light {
  background: #f3f6f9 !important; }

.alert-gray {
  background: #c1c4c7; }

.btn-gray {
  background: #c1c4c7; }

.text-gray {
  color: #c1c4c7; }

.bg-gray {
  background: #c1c4c7 !important; }

.alert-g-blue {
  background: linear-gradient(45deg, #ff4f70, #ff835e); }

.btn-g-blue {
  background: linear-gradient(45deg, #ff4f70, #ff835e); }

.text-g-blue {
  color: linear-gradient(45deg, #ff4f70, #ff835e); }

.bg-g-blue {
  background: linear-gradient(45deg, #ff4f70, #ff835e) !important; }

body {
  font-size: 16px;
  color: #4a4a4a;
  height: 100%; }

html, body {
  height: 100%; }

input:focus, button:focus, a:focus, textarea:focus {
  outline: none; }

.round {
  border-radius: 50em; }

.h-100 {
  height: 100%; }

.btn {
  border: none;
  border-radius: .5em;
  box-shadow: 2px 2px 15px rgba(0, 0, 50, 0.07); }

.card {
  border: none;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgba(0, 0, 50, 0.07); }
  .card .card-header, .card .card-footer {
    border: none; }

label {
  margin-bottom: 0;
  font-size: 14px;
  color: #b7caac; }

.form-control {
  border: none;
  font-size: 16px;
  box-shadow: 2px 2px 15px rgba(0, 0, 50, 0.07); }

.sidebar-logo {
  height: 25px; }

.menu {
  list-style: none;
  padding-inline-start: 0 !important; }
  .menu .menu-item {
    width: 100%;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.2);
    padding: 7px 15px;
    margin-bottom: 10px;
    border-radius: 50em;
    color: white;
    transition: 300ms; }
    .menu .menu-item:hover {
      background: rgba(255, 255, 255, 0.4);
      transition: 300ms;
      text-decoration: none; }
    .menu .menu-item i {
      margin-right: 10px; }

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px; }

.options-menu {
  float: right; }
  .options-menu .options:after {
    display: none; }
  .options-menu > .dropdown-menu.show {
    right: 0 !important;
    left: auto !important; }
    .options-menu > .dropdown-menu.show .material-icons {
      transform: translate(0, 6px); }

.btn .material-icons {
  transform: translate(0px, 6px); }

.circle {
  height: 50px;
  width: 50px; }

@media screen and (max-width: 1030px) {
  .menu-item span {
    display: none; } }
.uploader {
  /*these two are set to not display at start*/
  /*this sets the actual file input to overlay our button*/
  /*switch between input and not active input*/
  /*www.emilianocostanzo.com*/ }
  .uploader .center {
    text-align: center; }
  .uploader #top {
    margin-top: 20px; }
  .uploader .btn-container {
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .uploader .white {
    color: white; }
  .uploader .imgupload {
    color: #1E2832;
    padding-top: 40px;
    font-size: 7em; }
  .uploader #namefile {
    color: black; }
  .uploader h4 > strong {
    color: #ff3f3f; }
  .uploader .imgupload.ok {
    display: none;
    color: green; }
  .uploader .imgupload.stop {
    display: none;
    color: red; }
  .uploader #fileup {
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    height: 50px; }
  .uploader #submitbtn {
    padding: 5px 50px;
    display: none; }
  .uploader #fakebtn {
    padding: 5px 40px; }
  .uploader #sign {
    color: #1E2832;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-shadow: 0px 0px 0px #1E2832;
    transition: all .3s; }
  .uploader #sign:hover {
    color: #1E2832;
    text-shadow: 0px 0px 5px #1E2832; }

/*# sourceMappingURL=custom.css.map */
