$colors: (
    primary: #b7caac,
    success: #3db386,
    danger: #ff4f70,
    warning: #ff835e,
    info: #7cc6ff,
    red: #ff3963,
    light: #f3f6f9,
    gray: #c1c4c7,
    g-blue: linear-gradient(45deg, #ff4f70, #ff835e),
);

@each $key, $value in $colors {
    .alert-#{$key} {
        background: $value
    }
    .btn-#{$key} {
        background: $value
    }
    .text-#{$key} {
        color: $value
    }
    .bg-#{$key} {
        background: $value !important
    }
}

body {
    font-size: 16px;
    color: #4a4a4a;
    height: 100%;
}

html, body {
    height: 100%;
}

input:focus, button:focus, a:focus, textarea:focus {
    outline: none;
}

.round {
    border-radius: 50em;
}

.h-100 {
    height: 100%;
}

.btn {
    border: none;
    border-radius: .5em;
    box-shadow: 2px 2px 15px rgba(0, 0, 50, .07);
}

.card {
    border: none;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(0, 0, 50, .07);

    .card-header, .card-footer {
        border: none;
    }
}



label {
    margin-bottom: 0;
    font-size: 14px;
    color: map_get($colors, primary);
}

.form-control {
    border: none;
    font-size: 16px;
    box-shadow: 2px 2px 15px rgba(0, 0, 50, .07);
}

.sidebar-logo {
    height: 25px
}

.menu {
    list-style: none;
    padding-inline-start: 0 !important;

    .menu-item {
        width: 100%;
        display: inline-flex;
        background: rgba(255, 255, 255, .2);
        padding: 7px 15px;
        margin-bottom: 10px;
        border-radius: 50em;
        color: white;
        transition: 300ms;

        &:hover {
            background: rgba(255, 255, 255, .4);
            transition: 300ms;
            text-decoration: none;
        }

        i {
            margin-right: 10px
        }
    }
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.options-menu {
    float: right;

    .options {
        &:after {
            display: none
        }
    }

    & > .dropdown-menu.show {
        right: 0 !important;
        left: auto !important;

        .material-icons {
            transform: translate(0, 6px);
        }
    }
}

.btn {
    .material-icons {
        transform: translate(0px, 6px);
    }
}

.circle {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 1030px) {
    .menu-item {
        & span {
            display: none;
        }
    }
}

.uploader {
    .center {
        text-align: center;
    }

    #top {
        margin-top: 20px;
    }

    .btn-container {
        background: #fff;
        border-radius: 5px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .white {
        color: white;
    }

    .imgupload {
        color: #1E2832;
        padding-top: 40px;
        font-size: 7em;
    }

    #namefile {
        color: black;
    }

    h4 > strong {
        color: #ff3f3f
    }

    /*these two are set to not display at start*/
    .imgupload.ok {
        display: none;
        color: green;
    }

    .imgupload.stop {
        display: none;
        color: red;
    }

    /*this sets the actual file input to overlay our button*/
    #fileup {
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        width: 200px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        height: 50px;
    }

    /*switch between input and not active input*/
    #submitbtn {
        padding: 5px 50px;
        display: none;
    }

    #fakebtn {
        padding: 5px 40px;
    }

    /*www.emilianocostanzo.com*/
    #sign {
        color: #1E2832;
        position: fixed;
        right: 10px;
        bottom: 10px;
        text-shadow: 0px 0px 0px #1E2832;
        transition: all .3s;
    }

    #sign:hover {
        color: #1E2832;
        text-shadow: 0px 0px 5px #1E2832;
    }
}
